body{
    background-color : rgb(134, 224, 247);
    
}

.userpass{
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logincontainer{
    padding: 50px 70px 50px 70px;
    width: 200px;
    justify-content: baseline;
    background-color: rgb(134, 224, 247);
    line-height: 22px;
    border: 20px solid rgb(18, 197, 241);
    border-radius: 15px;
    align-items: flex-end;
    margin-top: 250px;
    margin-left: 750px;
    
    
}
.logincontainer h1{
    font-family: 'Lucida Sans';
    margin: 10px;
    text-align: center;
    height: 50px;
    
}

.logincontainer button{
    font-family: 'Lucida Sans';
    background-color: #f17691 ;
    color: black;
    height: 35px;
    width: 205px;
    border-color: rgb(134, 224, 247);
    border-radius: 15px;
    transition: background-color 0.5s;
    
}


.loginbtn:hover{
    background-color: #cf3758;
    cursor: pointer;
}

.input{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 9px;
    border-width: 0px;
    height: 25px;
    width: 200px;
    color: black;
    background-color: whitesmoke;
}

.logincontainer p{
    width: 250px ;
    text-decoration: none;
    font-size:18px;
    margin-top:10px;
    margin-bottom: 10px;

}

.logincontainer p a{
    
    color: #e91140;
    text-decoration: underline black 1.4px;

    
    

}






